@import '~bootstrap/scss/bootstrap';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';

header{
  position: fixed;
  height :30px;
}

body{
  padding-top:30px;
}

.collapse navbar-collapse{
margin-right: 0px;
}